# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/
myenv/

# Ignore log files
*.log

# Ignore a specific file
config.ini

# Ignore iml files
*.iml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
